[Unit]
Description=dAuth Manager Service
After=network-online.target
Requires=network.target

[Service]
ExecStart=/usr/bin/dauth-service /etc/dauth/dauth.yml
Restart=always
RestartSec=2
User=root
Group=root

[Install]
WantedBy=multi-user.target
