# Use prfx k for pane kill like screen.
bind-key k confirm-before kill-pane
# Use big k to really kill (the whole window).
bind-key K confirm-before kill-window

set -g default-terminal "screen-256color"

set -g status-bg {{ tmux_color | default('170') }}
set -g status-fg white

bind-key C-y set-window-option synchronize-panes
